
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    background-color: grey;
}
.cafe {
    font-family: "Nunito" sans-serif;
    font-size: 30px;
    color: white;
    padding-left: 10px;
    text-shadow: 0px 0px 15px #3cff00;
}